# Environment variables
.env

# Python
__pycache__/

# Virtual environments
venv/
.venv/

# IDEs
.vscode/


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data directories
data/

# UMLS data
umls_metathesaurus/
*.RRF

