# Environment variables
.env
.aiglobal/

# Python
__pycache__/
.pytest_cache/

# Virtual environments
venv/
.venv/

# IDEs
.vscode/


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data directories
data/
outputs/
outputs/KG/

# UMLS data
umls_metathesaurus/
*.RRF

documents/

notebooks/

